header nav{
    position: relative;
}
header nav .bar{
    width: 45px;
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
header nav .bar span{
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 45px;
}
header nav .list-cont{
    width: 100vw;
    height: 93vh;
    position: fixed;
    top: 7vh;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #000000bd;
}
header nav .list-cont .fa-circle-xmark{
    display: block;
    position: absolute;
    top: 5vh;
    right: 3vw;
    color: darkred;
}
header nav .list-cont ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
header nav div.list{
    display: none;
}
header nav .list-cont ul li a{
    color: white;
}
.special-heading{
    font-size: 70px;
}
.special-heading + p{
    margin: -25px 0 0;
}
main .intro h1{
    font-size: 300%;
}
main .feature .feature-cont{
    width: 100%;
    grid-template-columns: repeat(1,100%);
}
main .feature .feature-cont .feat{
    margin: 3vh auto;
}
main .serv .serv-cont .col{
    width: 100%;
    margin-bottom: 1vh;
}
main .serv .serv-cont .col .srv{
    flex-direction: column;
    text-align: center;
}
main .serv .serv-cont .col .srv .text-srv{
    margin-top: -3.5vh;
}
main .serv .serv-cont .image{
    display: none;
}
main .port .port-cont{
    width: 95%;
}
main .port .port-cont .card .card-cont{
    text-align: center;
}
main .about .about-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .about .about-cont .image::before{
    display: none;
}
main .about .about-cont .image::after{
    display: none;
}
main .about .about-cont .info{
    flex-basis: 100%;
    text-align: center;
}
main .contact .contact-cont .social{
    flex-direction: column;
}
main .contact .contact-cont .social span:first-of-type{
    margin-bottom: 7vh;
}